@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css');

:root {
  --black: #222222ff;
  --white: #ffffffff;
  --blue: #1c5d99ff;
  --green: #639fabff;
  --blue-gray: #bbcde5ff;

  /* Cooksys colors :)  */
  --kelly-green: #7ac042ff;
  --lapis-lazuli: #005595ff;
  --orange-peel: #faa633ff;
  --white: #ffffffff;
  --moonstone: #639fabff;
}

/* GENERAL STYLES */

body {
  font-family: Poppins, sans-serif;
  font-size: large;
  margin: 0;
}

a,
a:visited {
  color: blue;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

/* NAV BAR */

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  height: 80px;
  width: 100%;
  font-weight: 600;
  z-index: 1;
  /* background-color: var(--white); */
}

#nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 0 5%;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  gap: 3vw;
}

nav ul li:hover {
  cursor: pointer;
}

/* MAIN CONTENT  */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  row-gap: 5%;
  height: 100vh;
}

#greeting {
  line-height: 1.5em;
}

#social-links {
  flex-basis: 100%;
}

/* Colored containers for each large section */
.scroll-container {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 450px;
}

/* Container to hold content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 10%;
  height: 100%;
  max-width: 1280px;
  width: 70%;
  margin: auto;
}

/* ABOUT SECTION  */

#about {
  background-color: var(--blue-gray);
}

#avatar {
  height: 300px;
  width: 300px;
}

/* PROJECT SECTION  */

.scroll-container.project-container {
  height: auto;
  flex-wrap: wrap;
}

.container.project-card {
  padding: 5vh 0;
  height: auto;
  width: 100%;
  /* flex-wrap: wrap; */
}

.mockup-browser {
  width: 700px;
  max-width: 100%;
  height: auto;
}

.mockup-mobile {
  width: auto;
  height: 500px;
}

i {
  width: 1em;
  height: 1em;
  padding: 0 10px;
}

.icons {
  font-size: xx-large;
}

.icons a {
  text-decoration: none;
  border: none;
  color: black;
}

/* RESUME SECTION  */

#resume {
  justify-content: center;
  align-items: space-around;
  background-color: var(--blue);
}
