@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --black: #222222ff;
  --white: #ffffffff;
  --blue: #1c5d99ff;
  --green: #639fabff;
  --blue-gray: #bbcde5ff;
}

body {
  font-family: Poppins, sans-serif;
  font-size: large;
  margin: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  height: 80px;
  width: 100%;
  font-weight: 600;
  /* background-color: var(--white); */
}

#nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  gap: 3vw;
}

nav ul li:hover {
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100vh;
  max-width: 1280px;
  width: 95%;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100vh;
}

.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 450px;
}

#resume {
  justify-content: center;
  align-items: space-around;
  background-color: var(--blue);
}

#avatar {
  height: 300px;
  width: 300px;
}

#about {
  background-color: var(--blue-gray);
}

@media (prefers-reduced-motion) {
  .js-scroll {
    opacity: 1;
  }
  .scrolled {
    animation: none !important;
  }
}

.js-scroll {
  width: 70%;
  /* height: 300px; */
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
